*~
*.aux
*.log
*.dvi
*.pdf
*.ps
*.bbl
*.blg
*.out
*.toc
*-svg.eps
*-png.eps
*-svg.pdf
*-png.pdf
*.vo
*.glob
*.html
*.css
*.mem
*.cb
*.cb2
*.lox
*.upa
*.upb
*.xwm
bugs/*
coqdoc/*
/revision.tex
*.lof
*.lot
